.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer; 
}

.bounding-box:hover {
    /* background-color: black; */
    opacity: 1.0;
    transition-delay:0.2s;
    box-shadow: 0 0 0 3px #ff4642 inset;
    /* transition-duration: 0.2s; */
  }